// Counter Grid
.mainGrid {
    display: flex;
    flex-direction: column;
    // background-color: aquamarine;
    padding: 1em;
    max-width: 400px;
    margin: auto;
    margin-top: 2em;
    background-color: white;
    // border: solid black 1px;
    border-radius: 2%;
    padding-right: 2em;
}

body {
    background-color: rgb(189, 189, 189);
}

.totalsRow {
    // margin-top: auto;

    // background-color: bisque;
    display: flex;
    flex-direction: row;
    margin-left: 1em;

    #clearButton {
        width: 3.2em;
        height: 3.2em;
        min-width: 3.2em;
        border-radius: 50%;
        border: none;
        color: white;
        background-color: #9CDAB1;
        font-size: 18px;
        padding: 0;
        // margin-left: 1em;
        margin-right: 2em;
    }

    #totalValueContainer {
        // background-color: #F2EBEB;
        border: solid 3px #D2D2D2;
        text-align: center;
        margin: auto;
        padding: 0.5em;
        width: 60%;
        justify-self: right;
    }

    span {
        background-color: azure;
        width: 100%;
        // padding: 1em;
        font-size: 1.5em;
    }
}

// #currencyHeader {

// }

.currencyGrid {
    display: flex;
    flex-direction: column;
    // background-color: rgb(147, 95, 160);
    // margin-bottom: auto;
}

.currencyRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.2em 0;
    // border: black 1px dotted;
    // background-color: #CFEBD9;
    
    // span {
    //     background-color: white;
    // }
    

    img {
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        background-color: white;
    }

    .squareImg {
        border-radius: 0;
    }

    button {
        color: #C4C4C4;
        // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family: Arial, Helvetica, sans-serif;

        font-size: 3.5em;
        font-weight: 900;
        width: 100%;
        // background-color: rgb(103, 146, 101);
        border: none;
        border-radius: 10%;
    }

    button:hover {
        color: #7e7e7e;
        background-color: rgb(253, 231, 210);
    }

    // .plusButton {
    //     margin-right: 10px;
    // }

    // .minusButton {
    //     background-color: rgb(255, 176, 176);
    // }

    span {
        width: 80%;
        font-size: 1.3em;
        // Align currency count/totals text horizontally and vertically
        text-align: center;
        align-self: center;
    }

    .currencyCountContainer, .currencyTotal {
        border: solid 1px black;
        padding: 0.3em 0;
        // background-color: aqua;
    }
    
    .currencyCountContainer {
        margin-right: 0.4em;
    }

    

    
}

.currencyTotal {
    background-color: #CFEBD9;
}

#totalValueContainer {
    background-color: #e6e7e6;
    background-color: #F2EBEB;
}

.colName {
    p{
        font-size: 24px;
        margin-left: .5em;
        margin-bottom: 0;
        font-weight: bold;
    }
    
}

.smallColName {
    p {
        font-size: 15px;
        margin-left: 13px;
        // margin-top: 30px;
        margin-bottom: 0;
    }
}