// Counter Grid
main {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 1em;
}

.totalsRow {
    background-color: bisque;
    display: flex;
    flex-direction: row;

    button {
        width: 50%;
        // width: 5em;
        // height: 5em;
    }

    span {
        background-color: azure;
        width: 100%;
        margin: 1em;
        font-size: 2em;
    }
}

.currencyGrid {
    display: flex;
    flex-direction: column;
    background-color: rgb(147, 95, 160);
}

.currencyRow {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.2em 0;

    img {
        width: 4.5em;
        height: 4.5em;
    }
    button {
        font-size: 1.5em;
        width: 100%;
    }
    span {
        width: 80%;
        background-color: rgb(170, 170, 229);
        font-size: 1em;
        text-align: center;
    }
}